.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  /*color:aquamarine*/
}

.char {
  display: inline-block;
}
